@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gloock&family=Playfair+Display&family=Quicksand:wght@300;400;600;700&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display&family=Gloock&family=Playfair+Display&family=Quicksand:wght@300;400;600;700&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Changa&family=DM+Serif+Display&family=Gloock&family=Playfair+Display&family=Quicksand:wght@300;400;600;700&family=Raleway&display=swap');

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, 
*::after, 
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container_title {
  font-family: 'Alfa Slab One', cursive;
  color: #f3ffe7e6;
  text-shadow: 0px 4px 6px #9F84C5;
}

.container_text {
  font-family: 'Changa', sans-serif;
  margin: 25% 0 25% 0;
}

.container_source {
  font-family: 'DM Serif Display', serif;
}

.buttom {
  font-family: 'Alfa Slab One', cursive;
}